jsonschema==4.23.0
lightgbm==4.5.0
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
pyarrow==18.0.0
fastparquet==2024.11.0
featuretools==1.31.0
setuptools==75.5.0
mlxtend==0.23.3
optuna==4.1.0
catboost==1.2.7
shap
ipywidgets==8.1.5